body {
  background-color: #282c34;
  color: #f5f6fa;
  padding: 4vh;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1;
  position: relative;
}

h1 {
  color: #f5f6fa;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#monitor {
  background: #353b48;
  border: 1px solid #353b48;
  border-radius: 5px;
  overflow: hidden;
}

#monitor .item {
  padding: 18px 20px;
  border-bottom: 1px solid #353b48;
}

#monitor .item:hover {
  background-color: #353b48;
}

#monitor .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

#monitor .head .name {
  font-size: 18px;
  line-height: 20px;
  color: #f5f6fa;
}

#monitor .head .status {
  background: left center / 14px auto no-repeat;
  padding-left: 20px;
  font-size: 13px;
}

#monitor .head .status.up {
  color: #2ecc71;
}

#monitor .head .status.down {
  color: #ff3838;
}

#monitor .head .status.semidown {
  color: #fffa65;
}

#monitor .time {
  height: 35px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#monitor .time i {
  flex-grow: 1;
  margin: 0 1px;
  cursor: pointer;
}

#monitor .time i:hover {
  opacity: 0.5;
}

#monitor .time i.up {
  background: #2ecc71;
}

#monitor .time i.semidown {
  background: #fffa65;
}

#monitor .time i.down {
  background: #ff3838;
}

#monitor .tooltip {
  font-size: 12px !important;
  padding: 6px 9px !important;
  border-radius: 3px !important;
  text-transform: uppercase !important;
}

#monitor .foot {
  display: flex;
  justify-content: space-between;
  line-height: 15px;
  color: #f5f6fa;
}